* {
    box-sizing:border-box;
    margin:0;
    transition:box-shadow 0.5s,background 0.5s;
    font-family:sans-serif;
    font-size:calc(10px + 0.5vw);
    color:#000;
}
html,table[id] tr:nth-child(odd) > *,th.diff,#alert p {
    background:#f6f5f4;
}
nav {
    position:relative;
    display:flex;
    flex-direction:row;
    justify-content:center;
    padding:4px 4px 0 8px;
    background:#282c34;
}
nav a,th.stop {
    background:#484c54;
    color:#61dafb;
}
nav a {
    width:100%;
    margin-right:4px;
    border-radius:6px 6px 0 0;
    padding:12px 0;
    text-align:center;
    text-decoration:none;
}
nav a:hover,.route,th.zone {
    background:#61dafb;
    color:#282c34;
}
nav a:active,nav a:hover.active,.active {
    position:relative;
    z-index:1;
    background:#fff;
    color:#282c34;
}
main {
    position:relative;
    margin:0 8px 8px;
    box-shadow:1px 1px 4px #484c54;
    border-radius:0 0 6px 6px;
    padding:16px 0.5em 8px;
    background:#fff;
}
main * {
    margin:0 0 8px;
}
h2 {
    border-bottom:1px solid #484c54;
    font-size:1.3em;
}
table a,th,td,input,button,li a,#alert p,.route {
    border-radius:6px;
}
table a,th,input,button,li a,#alert p {
    padding:8px 4px;
}
table a,th,#alert p {
    color:#282c34;
}
table a:link:active,table a:link:hover,span.route,#alert .severe {
    background:#cff3fd;
}
#alert {
    overflow:hidden;
    max-height:200vh;
    margin:0;
    transition:max-height 1s cubic-bezier(1, 0, 0, 1);
}
#alert.hidden {
    max-height:0;
    height:fit-content;
    transition:max-height 0.5s cubic-bezier(0, 1, 0, 1);
}
table {
    margin:-2px -2px 8px;
}
table[id] {
    table-layout:fixed;
    width:calc(100% + 4px);
}
table[id] th,th.stop,th.diff,.route {
    width:3em;
    text-align:center;
}
td,a {
    box-decoration-break:clone;
    -webkit-box-decoration-break:clone;
}
td p,span.route {
    display:inline-block;
    margin:1px;
}
input,button,li a {
    border:1px solid #484c54;
}
input {
    width:100%;
    border-right:0;
    padding-right:5em;
}
button,li a {
    background:linear-gradient(#f6f5f4, #e6e5e4);
    text-shadow:2px 2px 2px #fff;
}
#search {
    width:5em;
    margin-left:-5em;
    border-radius:0 6px 6px 0;
}
ul,#home {
    position:absolute;
    right:0.5em;
    list-style:none;
}
li * {
    text-decoration:none;
    float:right;
}
input:focus,button:hover,li a:hover {
    outline:2px solid #61dafb;
    box-shadow:0 0 8px #61dafb;
}
button:active,li a:active {
    box-shadow:inset 1px 1px 1px #484c54;
    background:linear-gradient(#e6e5e4, #f6f5f4);
}
@media (min-width:640px) {
    nav a {
        width:auto;
        padding:12px 3vw;
    }
    main {
        width:80%;
        max-width:960px;
        margin:0 auto 8px;
        padding:16px 1em 8px;
    }
    table a,th,input,button,li a,#alert p {
        padding:8px;
    }
    input {
        width:50%;
    }
    ul,#home {
        right:1em;
    }
}
