* {
    box-sizing:border-box;
    transition:box-shadow 0.5s,background 0.5s;
    font-family:sans-serif;
    font-size:calc(10px + 0.5vw);
    color:#000;
}
html,body,button,#home a {
    margin:0;
    background:#f6f5f4;
}
nav {
    position:relative;
    display:flex;
    flex-direction:row;
    justify-content:center;
    padding:4px 4px 0 8px;
    background:#282c34;
}
nav a,th.stop {
    background:#484c54;
    color:#61dafb;
}
nav a {
    width:100%;
    margin-right:4px;
    border-radius:6px 6px 0 0;
    padding:12px 0;
    text-align:center;
    text-decoration:none;
}
nav a:hover,.route,th.zone {
    background:#61dafb;
    color:#282c34;
}
nav a:active,nav a:hover.active,.active {
    position:relative;
    z-index:1;
    background:#fff;
    color:#282c34;
}
main {
    position:relative;
    margin:0 8px 8px;
    box-shadow:1px 1px 4px #484c54;
    border-radius:0 0 6px 6px;
    padding:16px 1em 8px;
    background:#fff;
}
main * {
    margin:0 0 8px;
}
h2 {
    border-bottom:1px solid #484c54;
    font-size:1.3em;
}
table a,th,td,input,button,#alert p,#home a,.route {
    border-radius:6px;
}
table a,th,input,button,#alert p,#home a {
    padding:8px;
}
table a,th,#alert p {
    color:#282c34;
}
table a:active,table a:hover,span.route {
    background:#cff3fd;
}
#alert {
    overflow:hidden;
    max-height:200vh;
    margin:0;
    transition:max-height 1s cubic-bezier(1, 0, 0, 1);
}
#alert.hidden {
    max-height:0;
    height:fit-content;
    transition:max-height 0.5s cubic-bezier(0, 1, 0, 1);
}
table {
    margin:-2px -2px 8px;
}
table[id] {
    table-layout:fixed;
    width:calc(100% + 4px);
}
table[id] th,th.stop,th.diff,.route {
    width:3em;
    text-align:center;
}
table[id] tr:nth-child(odd) th,table[id] tr:nth-child(odd) td,th.diff,#alert p {
    background:#f6f5f4;
}
td,a {
    box-decoration-break:clone;
}
td p,span.route {
    display:inline-block;
    margin:1px;
}
input,button,#home a {
    border:1px solid #484c54;
}
input {
    width:100%;
    border-right:0;
    padding-right:4em;
}
button#search {
    width:4em;
    margin-left:-4em;
    border-radius:0 6px 6px 0;
}
#home {
    position:absolute;
    right:1em;
}
#home button,#home a {
    display:block;
    text-decoration:none;
    float:right;
}
input:focus,button:hover,#home a:hover {
    outline:2px solid #61dafb;
    box-shadow:0 0 8px #61dafb;
}
button:active,#home a:active {
    box-shadow:inset 1px 1px 1px #484c54;
}
@media (min-width:640px) {
    nav a {
        width:auto;
        padding:12px 3vw;
    }
    main {
        width:80%;
        max-width:960px;
        margin:0 auto 8px;
    }
    input {
        width:auto;
    }
}
@media (max-width:640px) {
    * {
        outline:none !important;
    }
    main {
        padding:16px 0.5em 8px;
    }
    #home {
        right:0.5em;
    }
    table a,th,input,button,#alert p,#home a {
        padding:8px 4px;
    }
}
